.ropi-modal-overlay {
    background-color: rgb(241 245 249 / 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 1rem;
    overflow-x: hidden;
    inset: 0;
    margin: 0 !important;
}

.dark .ropi-modal-overlay {
    background-color: rgb(51 65 85 / 0.75);
}

.ropi-modal-window {
    cursor: default;
    position: relative;
    top: 10rem;
    bottom: 10rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;

    box-shadow: rgb(51 65 85 / 0.75) 0 0 2rem;
}

.ropi-modal-content {
    border-radius: 0.5rem;
    box-shadow: 0 0 #0000;
    background-color: #e2e8f0;
}

.dark .ropi-modal-content {
    background-color: rgb(55 65 81);
}

.ropi-modal-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: solid 1px #cbd5e1;

    font-size: 1.25rem;
    line-height: 1.75rem;

    font-weight: bold;
}

.dark .ropi-modal-title {
    border-color: rgb(75 85 99);
}


.dark .ropi-modal-window {
    color: white;
}

.ropi-modal-body {
    padding: 1.5rem;
}

.ropi-modal-footer {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.ropi-modal-footer button {
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 0.5rem;
    border: solid 1px #94a3b8;
    color: white;
}

.ropi-modal-footer button.ropi-modal-cancel {
    background-color: #64748b;
}

.ropi-modal-footer button.ropi-modal-cancel:hover {
    background-color: #94a3b8;
}

.ropi-modal-footer button.ropi-modal-submit {
    background-color: #22c55e;
}

.ropi-modal-footer button.ropi-modal-submit:hover:not([disabled]) {
    background-color: #4ade80;
}

.ropi-modal-footer button.ropi-modal-submit:disabled {
    background-color: #dcfce7aa;
}
